@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  gap: 24px;
}

.link,
.to-home {
  padding: 15px 20px;
  display: block;
  border: 2px solid rgb(132, 121, 176);
  border-radius: 12px;
  background-color: rgb(132, 121, 176);
  width: 140px;
  text-align: center;

  &:hover {
    border: 2px solid rgb(155, 144, 238);
    background-color: rgb(155, 144, 238);
  }
}

section {
  position: relative;
  top: 80px;
  width: fit-content;
}

.to-home {
  width: fit-content;
}

/**  gallery  */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.gallery-link {
  cursor: zoom-in;
}

.gallery-item {
  max-width: 360px;
  width: calc((100% - 2 * 24px) / 3);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

/**  form  */
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50vh;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  outline: 2px solid lightskyblue;
}

label {
  display: flex;
  flex-direction: column;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;

  &:nth-child(2) {
    margin-bottom: 16px;
  }
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  padding-left: 16px;
}

.feedback-form textarea {
  height: 80px;
  resize: none;
  padding-top: 8px;
}

.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: transparent;

  &:hover {
    background-color: #6c8cff;
  }
}